/* Navbar logo size */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.logo {
    height: 40px;
}
.carousel {
    height: 500px; /* Adjust this value as needed */
    overflow: hidden; /* Ensures that content overflowing the carousel is hidden */
}

/* Ensure carousel images cover the entire height of the container */
.carousel-item img {
    height: 100%;
    object-fit: cover; /* Maintains aspect ratio while covering the container */
    width: 100%; /* Ensures the image covers the full width */
}




header {
    padding: 30px;
  }
  
 
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: -20px;
  }
  
  .hero img {
    width: 500px;
    height: 400px;
  }
  
  .hero-content {
    text-align: center;
    margin: 0 50px;
  }
  
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    margin-bottom: 30px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features ul li {
    margin-bottom: 10px;
  }
  
  .readMore {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

/* Registration form padding */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Button style for form */
.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff; /* Match border color */
}

/* Add some margin to the form header */
h1 {
    margin-bottom: 20px;
} .background-section {
    position: relative;
    background-image: url('https://img.freepik.com/free-photo/abstract-blurred-background_1232-2062.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 450px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with opacity for fade effect */
    z-index: 1;
}

.background-section .container {
    position: relative;
    z-index: 2;
}

.background-section .left-content {
    flex: 1;
    padding: 20px;
}

.background-section .registration-form {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.background-section h1 {
    margin-bottom: 20px;
}

.background-section p {
    font-size: 1.2rem;
}



#registrationForm {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    font-size: 16px;
    transition: border-color 0.3s;
    height: 10%;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.btn-submit {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.form-message {
    color: #333;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}


.accordion {
    margin: 20px;
    width:  98%;
    /* border-radius: 8px; */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: #adadad;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    outline: none;
    position: relative;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    transition: transform 0.3s;
}

.accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #ddd;
    background-color: #ffffff;
}

.accordion-content p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.container1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .card1{
    width: 270px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
  }
  .card1:hover{
    background-color: #4687cc;
    color: white;
    scale: 1.03;
    border: 1px black solid;
  }
 #con1 {
    font-size: 50px;
    /* color: #007bff; */
  }
  
  h4 {
    margin: 10px 0;
  }
  
  p {
    margin: 0;
  }
  .experts {
    padding: 40px;
    background-color: #fff;
}

.experts {
    padding: 40px;
    background-color: #fff;
}

.experts h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    color: #333;
}

.expert-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.expert-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.expert-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.expert-content {
    padding: 20px;
}

.expert-card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.expert-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 10px;
}

.social-icon i {
    font-size: 20px;
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon i:hover {
    color: #007bff; /* Change to your desired hover color */
}



.contact-us {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #fff;
    gap: 20px;
}

.contact-info,
.contact-form,
.map {
    flex: 1;
    min-width: 300px; /* Ensures minimum width for responsive design */
}

.contact-info {
    max-width: 400px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-details {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item i {
    font-size: 20px;
    color: #007bff;
    margin-right: 10px;
}

.contact-item p {
    font-size: 16px;
    margin: 0;
}

.contact-form {
    max-width: 500px;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.map {
    max-width: 600px;
}

.map h3 {
    font-size: 24px;
    margin-bottom: 10px;
}





footer {
  
  background: #411f9a;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #3824d2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #363636;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}